<div class= "min-h-fit text-gray-900 flex items-center justify-center"> <%# フォーム画面の土台枠外span %>
  <div class="m-10">
    <div class="max-w-fit mb-10"> <%# 戻るボタン設置 %>
      <%= render 'shared/back_button' %>
    </div>
    <div class="flex flex-col gap-5 mt-5 items-center"> <%# フォームの大枠span・右半分と左半分で分けてるところ %>
      <div class="flex flex-col lg:flex-row my-20 xl:gap-10 translate md:scale-110 lg:scale-125"> <%# 上部分のプロフィールとステータス(画面サイズが小さい時だけ縦並び) %>

        <div class="flex flex-col justify-center items-center p-6 pb-0"> <%# 左側欄 %>
          <div class="size-32 md:size-56 overflow-hidden rounded-full">
            <%= image_tag "profile_#{@user.profile_icon}.svg", class:"size-full" %>
          </div>
        </div>

        <div class="p-6 flex flex-col items-center lg:items-start translate md:scale-110 xl:scale-125"> <%# 名前とステータス %>
          <div class="text-2xl font-extrabold mb-3 lg:ml-3"> <%# ユーザーネーム %>
            <%= @user.name %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-10 my-5">
      <% if @published_posts.present?  %> <%# 公開済みパレット用 %>
        <div class="flex flex-col"> <%# 公開済みパレット %>
          <div class="text-xl font-extrabold ml-3">公開パレット</div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 place-content-center place-items-center">
            <% @published_posts.each do |post|  %>
              <%= render "shared/post_card/published_palette", post: post %>
            <% end %>
          </div>
          <div class="text-right">
          </div>
        </div>

      <% else %>
        <div class="flex flex-col w-full min-h-96">
          <div class="text-xl font-extrabold mb-3 ml-3">公開パレット</div>
          <div class="flex-grow grid place-items-center mb-3 border-2 rounded-lg">
            <div class="flex-col place-items-center">
              <svg class="size-20 m-3 fill-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C17.5222 2 22 5.97778 22 10.8889C22 13.9556 19.5111 16.4444 16.4444 16.4444H14.4778C13.5556 16.4444 12.8111 17.1889 12.8111 18.1111C12.8111 18.5333 12.9778 18.9222 13.2333 19.2111C13.5 19.5111 13.6667 19.9 13.6667 20.3333C13.6667 21.2556 12.9 22 12 22C6.47778 22 2 17.5222 2 12C2 6.47778 6.47778 2 12 2ZM10.8111 18.1111C10.8111 16.0843 12.451 14.4444 14.4778 14.4444H16.4444C18.4065 14.4444 20 12.851 20 10.8889C20 7.1392 16.4677 4 12 4C7.58235 4 4 7.58235 4 12C4 16.19 7.2226 19.6285 11.324 19.9718C10.9948 19.4168 10.8111 18.7761 10.8111 18.1111ZM7.5 12C6.67157 12 6 11.3284 6 10.5C6 9.67157 6.67157 9 7.5 9C8.32843 9 9 9.67157 9 10.5C9 11.3284 8.32843 12 7.5 12ZM16.5 12C15.6716 12 15 11.3284 15 10.5C15 9.67157 15.6716 9 16.5 9C17.3284 9 18 9.67157 18 10.5C18 11.3284 17.3284 12 16.5 12ZM12 9C11.1716 9 10.5 8.32843 10.5 7.5C10.5 6.67157 11.1716 6 12 6C12.8284 6 13.5 6.67157 13.5 7.5C13.5 8.32843 12.8284 9 12 9Z"></path></svg>
              <div class="text-sm">公開中のパレットがありません</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- ページネーションセクション -->
    <div class="flex items-center justify-center translate scale-150">
      <%== pagy_nav(@pagy) %>
    </div>

  </div>
</div>