<div class="max-w-[90vw] w-[80vw] mx-auto flex items-center my-10 flex-col gap-4">
  <%= image_tag "how_to_1.svg", class:"w-[40%]" %>
  <%= image_tag "how_to_2.svg", class:"w-[60%] mb-4" %>
  <%= image_tag "how_to_3.svg", class:"w-[60%] mb-16" %>
  <%= image_tag "how_to_4.svg", class:"w-[70%] mb-16" %>
  <%= image_tag "how_to_5.svg", class:"w-[70%] mb-4" %>

</div>