<%# 公開済みパレット用カードコンポーネント %>
<div class="animate-slide-top w-full p-1">
  <!-- パレット表示部分 -->
  <div class="transform hover:scale-105 transition-transform duration-300 w-full aspect-[5/3] overflow-hidden border-slate-500 border-2 rounded-2xl shadow-2xl flex">
    <% ratio = post.ratio.split(','); colors = post.colors; post.color_count.times do |i| %>
      <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i].hex_code %>" class="h-full bg-gray-400"></div>
    <% end %>
  </div>
  <div class="flex justify-between items-start mt-1 gap-1">
    <!-- タイトル -->
    <div class="text-base text-gray-600 ml-2 truncate">
      <%= post.title %>
    </div>
    <!-- 作成者 -->
      <%= link_to user_path(post.user_id), data: { turbo_frame: "_top" }, class:"hidden text-xs antialiased font-light leading-relaxed hover:underline text-gray-700" do %>
        <%= post.user.name %>
      <% end %>
    <div class="flex items-start gap-2">
      <!-- メニュー(投稿者のパレットのみ) -->
      <% if my_post?(post) %>
        <%= render 'shared/post_card/card_menu', post: post %>
      <% end %>
      <!-- いいね -->
      <div class="flex mr-3 items-end">
        <% if current_user && post.liked_by?(current_user) %>
          <%= render 'posts/unlike', { post: post } %>
        <% else %>
          <%= render 'posts/like', { post: post } %>
        <% end %>
        <div id="like-count-<%= post.id %>" class="select-none"><%= post.likes.count %></div>
      </div>
    </div>
  </div>

</div>
