<%# 公開済みパレット用カードコンポーネント %>

  <div class="group animate-slide-top w-full p-1">
    <!-- パレット表示部分 -->
    <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
      <div class="relative transform group-hover:scale-105 transition-transform duration-300 w-full aspect-[5/3] overflow-hidden border-slate-500 border-2 rounded-2xl shadow-2xl flex">
        <% ratio = post.ratio.split(','); colors = post.colors; post.color_count.times do |i| %>
          <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i].hex_code %>" class="h-full bg-gray-400"></div>
        <% end %>
        <!-- 「あなたの投稿」タグ -->
        <% if post.user_id == current_user.id %>
          <span class="inline-flex absolute right-2 top-2 whitespace-nowrap items-center gap-x-1 py-1 px-2 rounded-full text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"> <%# https://preline.co/docs/badge.html %>
            <span class="size-1.5 inline-block rounded-full bg-blue-800 dark:bg-blue-500"></span>
            あなたの投稿
          </span>
        <% end %>
      </div>
    <% end %>
    <div class="flex justify-between items-start mt-1 gap-1">
      <div class="flex flex-col gap-1">
        <!-- タイトル -->
        <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
          <div class="text-base group-hover:underline text-gray-600 ml-2 truncate">
            <%= post.title %>
          </div>
        <% end %>
      </div>

      <div class="flex items-start gap-2">
        <% if my_post?(post) %>
          <%= render 'shared/post_card/card_menu', post: post %>
        <% end %>
        <!-- いいね -->
        <div class="flex mr-3 items-end">
          <% if current_user && post.liked_by?(current_user) %>
            <%= render 'posts/unlike', { post: post } %>
          <% else %>
            <%= render 'posts/like', { post: post } %>
          <% end %>
          <div id="like-count-<%= post.id %>" class="select-none"><%= post.likes.count %></div>
        </div>
      </div>
    </div>
  </div>
