<%# 他ユーザーパレット用カードコンポーネント %>
  <div class="transform scale-[0.9] md:scale-[0.8] lg:scale-[0.7] flex w-[26rem] h-[29rem] flex-col gap-2 rounded-xl border border-solid bg-gray-50 text-gray-700 shadow-2xl">
    <div class="w-[24rem] h-1/2 flex m-auto text-white shadow-2xl rounded-md border-2 border-solid">
      <% ratio = post.ratio.split(','); colors = post.colors; post.color_count.times do |i| %>
        <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i].hex_code %>" class="h-full bg-gray-400"></div>
      <% end %>
    </div>
    <div class="px-6 mt-3">
      <div class="flex items-center justify-between"> <%# タイトルといいね用 %>
        <div class="block font-sans text-2xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
          <%= post.title %>
        </div>


      <!-- いいねボタン -->
      <div class="flex flex-row items-end">
        <% if current_user && post.liked_by?(current_user) %>
          <%= render 'posts/unlike', { post: post } %>
        <% else %>
          <%= render 'posts/like', { post: post } %>
        <% end %>
        <div id="like-count-<%= post.id %>" class="select-none"><%= post.likes.count %></div>
      </div>

      </div>
      <div class="flex items-center gap-1"> <%# 作成者 %>
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 256 256" xml:space="preserve">
          <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
            <path d="M 45 0 C 20.147 0 0 20.147 0 45 c 0 24.853 20.147 45 45 45 s 45 -20.147 45 -45 C 90 20.147 69.853 0 45 0 z M 45 22.007 c 8.899 0 16.14 7.241 16.14 16.14 c 0 8.9 -7.241 16.14 -16.14 16.14 c -8.9 0 -16.14 -7.24 -16.14 -16.14 C 28.86 29.248 36.1 22.007 45 22.007 z M 45 83.843 c -11.135 0 -21.123 -4.885 -27.957 -12.623 c 3.177 -5.75 8.144 -10.476 14.05 -13.341 c 2.009 -0.974 4.354 -0.958 6.435 0.041 c 2.343 1.126 4.857 1.696 7.473 1.696 c 2.615 0 5.13 -0.571 7.473 -1.696 c 2.083 -1 4.428 -1.015 6.435 -0.041 c 5.906 2.864 10.872 7.591 14.049 13.341 C 66.123 78.957 56.135 83.843 45 83.843 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
          </g>
        </svg>
        <%= link_to user_path(post.user_id), class:"block font-sans text-base antialiased font-light leading-relaxed hover:underline text-gray-700" do %>
          <%= post.user.name %>
        <% end %>
      </div>

      <div class="flex items-center gap-2 mt-2"> <%# 状態タグと公開日時用 %>
        <div class="bg-gray-100 text-gray-800 text-xs font-medium flex gap-1 items-center rounded-sm dark:bg-gray-700 dark:text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"></path></svg>
          <p><%= post.updated_at.strftime("%Y-%m-%d") %><p>
        </div> <%# 作成日時用 %>
      </div>
    </div>
    <div class="px-6 my-3">
      <div class="flex items-center justify-end"><%# 詳細ページ矢印用 %>
        <%= link_to post_path(post), class:"" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="opacity-80 transition-all duration-500 ease-out hover:scale-125 hover:opacity-100 size-10 mr-4" viewBox="0 0 24 24" fill="currentColor"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg>
        <% end %>
      </div>
    </div>
  </div>
