<div class="w-full h-full flex items-center justify-center" style="background-color: <%= @sorted_colors[0] %>">
  <div class="size-full"><%= render "shared/svg/ogp/background_1_svg", colors: @sorted_colors %></div>
</div>
<!-- 右側セク -->
<div x-data="{colorCount: <%= color_count %>}" class="absolute h-full w-[495px] top-0 right-8">

  <div class="w-[85%] mx-auto">
    <!-- パレットセク -->
    <div class="aspect-[6/1] flex border border-slate-200 mt-16">
      <% color_count.times do |i| %>
        <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i] %>" class=""></div>
      <% end %>
    </div>
    <!-- 比率リストセクション -->
    <div class="flex justify-end gap-2 mt-1 mr-2">
      <% color_count.times do |i| %>
        <div class="flex gap-0.5 items-start">
          <div class="size-5 rounded-full border shadow-lg" style="background-color: <%= colors[i] %>;"></div>
          <div class="text-xs text-[#897e70] font-extrabold"><%= ratio[i] %>%</div>
        </div>
      <% end %>
    </div>

    <!-- hexコードー欄 -->
    <div class="w-full my-6">
      <div class="w-full flex flex-wrap items-center justify-center gap-y-8" :class="{ 'gap-x-8': colorCount % 2 == 0 }">
        <% color_count.times do |i| %>
          <div :class="colorCount % 2 == 0 ? 'w-[34%]' : 'w-1/3'" class="flex justify-center items-center">
            <div class="w-[90%] relative">
              <div class="w-full aspect-[5/2] rounded-2xl border border-slate-300" style="background-color: <%= colors[i] %>"></div>
              <!-- hexコード -->
              <div class="absolute left-0 top-10 text-lg text-center w-full text-gray-600 font-zenmaru font-bold"><%= colors[i] %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 筆記体カラーセク(2or3文字のとき表示) -->
    <div x-show="colorCount <= 3" :class="colorCount == 3 ? 'text-[1.7rem] gap-6' : 'text-4xl gap-8'" class="flex w-full justify-center items-center font-playwrite mt-12">
      <% color_count.times do |i| %>
        <div style="color: <%= colors[i] %>; -webkit-text-stroke: 0.3px gray;">Coloratio</div>
      <% end %>
    </div>

    <div :class="colorCount == 3 ? 'w-[22rem]' : 'w-96'" class="mx-auto mt-8">
      <% if color_count <= 3 %>
        <%= render "shared/svg/ogp/component_1_svg", colors: @sorted_colors %>
      <% else %>
        <%= render "shared/svg/ogp/component_2_svg", colors: @sorted_colors %>
      <% end %>
    </div>

  </div>

</div>
<div class="absolute w-52 bottom-5 right-11"><%= render "shared/svg/ogp/ogp_logo_svg", colors: @sorted_colors %></div>
<div class="absolute top-[184px] left-[150px] font-noto font-bold text-md" style="color: <%= @sorted_colors[0] %>"><%= color_count %>色パレット</div>
<!-- タイトルとタグ欄 -->
<div class="absolute left-[104px] top-[218px] w-[512px] h-48">
  <!-- タイトル -->
  <div x-data="{ fontSize: <%= post.title.length %> }">
    <div :class="fontSize >= 31 ? 'text-4xl' : fontSize >= 25 ? 'text-5xl' : fontSize >= 13 ? 'text-6xl' : 'text-7xl'" style="color: <%= @sorted_colors[1] %>" class="font-bold"><%= post.title %></div>
    <div :class="fontSize >= 25 ? 'mt-12 w-36' : 'mt-16 w-44'">
      <%= render "shared/svg/ogp/polka_material_svg", colors: @sorted_colors %>
    </div>
  </div>
</div>