<div class= "min-h-fit text-gray-900 flex items-center justify-center">
  <div class="m-10">
    <div class="relative border-2 p-10 rounded-lg shadow-md py-10 flex flex-col items-center justify-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

        <div class="flex flex-col max-w-72">
          <div class="mb-6 text-xl font-bold">パスワードの再設定</div>

          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.label :password, "新しいパスワード" %>
          <%= f.password_field :password,
            autofocus: true,
            autocomplete: "new-password",
            class: "w-full mt-1 px-4 py-3 rounded-lg bg-gray-100 border border-gray-200 placeholder-gray-400 text-sm focus:bg-white",
            maxlength: 128,
            placeholder: "半角英数字・#{@minimum_password_length}文字以上"
          %>

          <%= f.label :password_confirmation, "新しいパスワード(確認用)" %>
          <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            class: "w-full mt-1 px-4 py-3 rounded-lg bg-gray-100 border border-gray-200 placeholder-gray-400 text-sm focus:bg-white"
          %>


          <%= f.submit  "パスワード変更", class:"mt-4 cursor-pointer tracking-wide shadow-lg border-2 text-sm font-semibold bg-orange-400 text-gray-100 py-2 px-8 rounded-3xl hover:bg-orange-500 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none disabled:opacity-50 disabled:pointer-events-none hover:scale-105 active:scale-95" %>

        </div>
      <% end %>

    </div>
  </div>
</div>