<div class= "min-h-fit text-gray-900 flex items-center justify-center">
  <div class="m-10">
    <div class="text-2xl ml-5 font-bold">投稿一覧 </div>

    <!-- 工事中！！仮置き並び替えセクション -->
    <%= link_to "公開が新しい順/", posts_path(latest: true) %>
    <%= link_to "公開が古い順/", posts_path(old: true) %>
    <%= link_to "最終更新日順", posts_path(updated: true) %>
    <!-- 工事中！！！ -->

    <div class="flex flex-col gap-10 my-5">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 place-content-center place-items-center">
        <% @posts.each do |post|  %> <%# @postsはすでにpublishedのものだけ入ってる状態 %>
          <%# ログインしてる状態ならそれが自分の投稿かを確認、trueなら自投稿用のviewでパレット表示 %>
          <% if user_signed_in? && post.user_id == current_user.id %>
            <%= render "shared/post_card/my_published_palette", post: post %>
          <%# ログインしてない状態orログインしてるけど自分の投稿じゃなかった場合は、問答無用で他の人の投稿になるため一般表示用viewでパレット表示 %>
          <% else %>
            <%= render "shared/post_card/published_palette", post: post %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex items-center justify-center translate scale-150">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>