<!-- source:https://codepen.io/owaiswiz/pen/jOPvEPB -->
<div id="palette-base"></div> <%# js走らせる用 %>
<% @colors = @default_palette %>
<div id="color-tag-info" data-json=<%= @colors.to_json %>></div>
<div x-data="{ choice: false, setting: <%= @colors.size %> }" class= "min-h-fit py-10 bg-gray-100 text-gray-900 flex items-center justify-center"> <%# フォーム画面の土台枠外span %>
  <div class="mx-20 my-5">

    <div class="mb-1 text-xl font-bold">パレット作成 </div>

    <%= form_with model: @post, local: true do |f| %>
      <div class="px-2  bg-white shadow sm:rounded-lg flex flex-col lg:flex-row  items-center justify-center"> <%# フォームの大枠span・右半分と左半分で分けてるところ %>
        <div class="flex flex-col p-6"> <%# 左側欄 %>
          <div class="flex justify-between items-end">
            <div class="text-xl font-bold">プレビュー</div> <%# プレビュー見出し %>
            <% if @post.id.present? %> <%# 既存パレット編集時は削除ボタンを表示して、新規作成時は表示しないための記載 %>
              <div class="mr-3"> <%# パレットを削除する %>
                <%= link_to post_path(@post), data: {turbo_method: :delete, turbo_confirm: "下書きを削除します。よろしいですか?"}, class:"text-xs text-center text-orange-400 hover:text-orange-600 border-b border-orange-400" do %>
                  <p>パレットを削除する</p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="w-[24rem] h-56 lg:w-[28rem] lg:h-72 mt-3 flex justify-center items-center overflow-hidden text-white shadow-xl rounded-xl bg-blue-gray-500 bg-clip-border border-2">
            <div class="w-80 h-48 lg:w-96 lg:h-56 flex overflow-hidden text-white shadow-xl rounded-md bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
              <% (1..5).each do |i| %>
                <div id="preview-<%= i %>" x-show="setting >= <%= i %>" class="w-[20%] h-full"></div>
              <% end%>
            </div>
          </div>
        </div>

        <div class="p-6 flex flex-col"> <%# フォーム本体枠 %>
          <div x-data="{status : 'draft'}" class="mx-auto max-w-xs">
            <%= render "shared/error_messages", resource: f.object %>
            <div class="mt-3"> <%# タイトル %>
              <%= f.label :title, "タイトル", class:"font-bold" %>
              <div class="flex gap-1 items-center justify-center">
                <%= f.text_field :title, maxlength: "32", placeholder:"パレットを入力。※32字以内", class:"w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
              </div>
            </div>

            <div class="pointer-events-none"> <%# 比率(非表示) %>
              <div class="flex gap-1 items-center justify-center">
                <%= f.hidden_field :ratio, placeholder:"比率入力箇所", class:"w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
              </div>
            </div>

            <div class="pointer-events-none"> <%# 色情報(非表示) %>
              <div class="flex gap-1 items-center justify-center">
                <%= f.hidden_field :color, placeholder:"色情報入力箇所", class:"w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
              </div>
            </div>

            <div class="pointer-events-none"> <%# 記事状態管理(非表示) %>
              <div class="flex gap-1 items-center justify-center">
                <%= f.hidden_field :status, value:"draft", placeholder:"下書き保存or公開", class:"w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
              </div>
            </div>

            <div class="pointer-events-none mt-3"> <%# 概要欄(任意) %>
              <p class="font-bold">概要欄(任意)</p>
              <div class="flex gap-1 items-center justify-center">
                <textarea disabled rows="3" placeholder="※本リリースにて開発予定です。" class="w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"></textarea>
              </div>
            </div>

            <div class="my-3"> <%# タグ(任意) %>
              <p class="font-bold">タグ</p>
              <div class="flex gap-1 items-center justify-center">
                <%= f.text_field :tag, placeholder:"※半角スペースで複数個登録できます", class:"w-80 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
              </div>
            </div>

            <%= link_to "※変更を保存せず終了する", root_path, data: { turbo_method: :get, turbo_confirm: "直近に保存した内容からの変更を反映せずに終了し、トップページに戻ります。よろしいですか?"}, class:"text-xs text-center text-blue-500 hover:text-blue-600 active:text-blue-500 underline" %>

            <div class="mt-5 flex gap-2 justify-end">
              <%= f.button "下書き保存", type: 'button', onclick: "statusDraft(); confirmAndSubmit(this);", id:"draft_button", data: { turbo_confirm: 'パレットを下書き保存します'},  class:"py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
              <%= f.button "公開する", type: 'button', onclick: "statusPublished(); confirmAndSubmit(this);", id:"published_button", data: { turbo_confirm: 'パレットを保存して公開します。よろしいですか？'}, class:"focus:outline-none text-white bg-orange-400 hover:bg-orange-500 font-medium rounded-lg text-sm px-5 py-2.5" %>

            </div>

          </div>
        </div>
      </div>
    <% end %>


    <div class="flex flex-col lg:flex-row justify-center items-center gap-2 mt-10">
      <!-- ベース選択セクション -->
      <%= render "shared/edit_palette/palette_base" %>
      <!-- セット中の色反映セクション -->
      <%= render "shared/edit_palette/setting_base" %>
      <!-- 色選択テンプレ -->
      <%= render "shared/edit_palette/color_selector" %>
    </div>
  </div>
</div>

<!-- Alpine.js用scriptパーシャル -->
<%= render 'alpine_posts_script' %>
<!-- End -->