<% post = @post; ratio = post.ratio.split(','); colors = post.colors; %>
<div class="relative">
  <!-- 画面上部大パレット -->
    <div class="absolute w-full border bg-gray-100 h-96 flex opacity-50">
      <% post.color_count.times do |i| %>
        <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i].hex_code %>" class="h-full bg-gray-400"></div>
      <% end %>
    </div>
  <!-- End -->
  <div class="relative min-h-fit text-gray-900 flex items-center justify-center">
    <div class="m-8">
      <!-- Hero -->
      <div class="max-w-[85rem] my-20 mx-auto px-4">
        <!-- Grid -->
        <div class="grid lg:grid-cols-2 gap-10 place-content-center items-center">
          <div class="order-2 lg:order-1">
            <!-- タイトル -->
            <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"><%= post.title %></h1>
            <!-- End タイトル -->
            <!-- タイトルより下 -->
            <div class="px-3 mt-3">
              <div class="flex items-center gap-10"> <%# ユーザー名といいね用 %>

                <!-- ユーザー -->
                <div class="flex mt-3 items-center gap-1">
                  <div class="size-8 overflow-hidden rounded-full">
                    <%= image_tag "profile_#{post.user.profile_icon}.svg", class:"size-full" %>
                  </div>
                  <%= link_to user_path(post.user_id), class:"block text-lg antialiased font-light leading-relaxed hover:underline text-black" do %>
                    <%= post.user.name %>
                  <% end %>
                </div>
                <!-- End ユーザー -->

                <!-- いいねボタン -->
                <div class="flex flex-row items-end">
                  <%# 自分の投稿の時(いいね押せないようにする) %>
                  <% if post.user_id == current_user.id %>
                    <button type="button" disabled>
                      <svg xmlns="http://www.w3.org/2000/svg" class="size-10 cursor-not-allowed" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853ZM18.827 6.1701C17.3279 4.66794 14.9076 4.60701 13.337 6.01687L12.0019 7.21524L10.6661 6.01781C9.09098 4.60597 6.67506 4.66808 5.17157 6.17157C3.68183 7.66131 3.60704 10.0473 4.97993 11.6232L11.9999 18.6543L19.0201 11.6232C20.3935 10.0467 20.319 7.66525 18.827 6.1701Z"></path></svg>
                    </button>
                  <!-- 自分の投稿じゃないとき -->
                  <% else %>
                    <%# すでにいいねしていた時 %>
                    <% if post.liked_by?(current_user) %>
                      <%= render 'posts/unlike', { post: post } %>
                    <%# いいねしてない時 %>
                    <% else %>
                      <%= render 'posts/like', { post: post } %>
                    <% end %>
                  <% end %>
                  <!-- いいね数表示 -->
                  <div id="like-count-<%= post.id %>" class="select-none"><%= post.likes.count %></div>
                </div>
                <!-- End いいねボタン -->

              </div>
              <div class="flex items-center gap-2 my-4"> <%# 公開日時とtag用 %>
                <% if post.user_id == current_user.id %> <%# あなたの投稿タグ %>
                  <span class="inline-flex items-center gap-x-1 py-2 px-4 rounded-full text-sm font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"> <%# https://preline.co/docs/badge.html %>
                    <span class="size-1.5 inline-block rounded-full bg-blue-800 dark:bg-blue-500"></span>
                    あなたの投稿
                  </span>
                <% end %>
                <div class="bg-gray-300 text-gray-800 rounded-md text-xs p-1.5 font-medium flex gap-1 items-center dark:bg-gray-700 dark:text-gray-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"></path></svg>
                  <p><%= post.updated_at.strftime("%Y-%m-%d") %><p>
                </div> <%# 作成日時用 %>
              </div>
            </div>
            <!-- End タイトルより下 -->
          </div>
          <!-- End Col -->
          <!-- カラーパレット -->
          <div class="h-72 w-[30rem] translate xl:scale-110 text-center flex order-1"> <%# 右側画像枠 %>
            <% post.color_count.times do |i| %>
              <div style="width: <%= ratio[i]%>%; background-color: <%= colors[i].hex_code %>" class="h-full bg-gray-400"></div>
            <% end %>
          </div>
          <!-- End カラーパレット -->
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Hero -->
      <!-- カラーコピー枠 -->
      <div class="my-5 grid grid-cols-3 lg:flex place-content-center place-items-center gap-2 lg:gap-8 items-center justify-center">
        <% post.color_count.times do |i| %>
          <div x-data="{copy: false}" @click="copy = true; setTimeout(() => copy = false, 1500)" class="group/copy p-1 flex flex-col justify-center items-center">
              <svg class="size-36 transition-all duration-500 translate group-hover/copy:scale-110" fill="<%= colors[i].hex_code %>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" viewBox="0 0 101 126.25" version="1.1" xml:space="preserve" style="" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41421"><rect serif:id="Page 43" x="0.5" y="0.5" width="100" height="100" style="" fill="none"/><path d="M59.559,17.509c0.404,0.076 0.988,0.474 1.228,1.032c0,0 0.15,0.621 0.15,0.621c0,0 0.325,-0.229 0.325,-0.229l0.6,-0.181l0.388,0.039c0.091,-0.125 0.182,-0.249 0.274,-0.373c0.399,-0.53 0.905,-1.009 1.426,-0.956c0.229,0.024 0.571,0.059 0.571,0.059c0.337,0.142 0.339,0.142 0.635,0.356c0.543,0.393 0.495,1.493 0.495,1.493l-0.059,0.229c-0.116,0.311 -0.022,0.099 -0.268,0.562c-0.571,1.073 -1.242,2.091 -1.968,3.066l0.525,0.523c0.412,0.655 -0.002,0.908 0.44,0.879c0.274,-0.016 0.678,-0.033 0.678,-0.033c1.069,-1.244 1.966,-2.619 2.886,-3.976c0.217,-0.316 0.599,-0.674 0.672,-0.716c0.374,-0.218 0.817,-0.24 1.253,-0.203c0.674,0.058 1.099,0.844 1.211,1.392c0,0 -0.174,1.097 -0.658,1.934c-0.717,1.241 -1.672,2.333 -2.659,3.382c0,0 -0.036,0.573 -0.256,0.999c-0.227,0.44 -0.746,0.958 -0.746,0.958c-0.025,0.046 -0.051,0.091 -0.076,0.135c-0.337,0.577 -0.698,1.144 -1.056,1.711l-0.061,0.097c-0.356,0.549 -0.712,1.096 -1.07,1.644c0,0 1.089,-1.406 2.185,-2.774c1.848,-2.307 3.737,-4.586 5.552,-6.916c0,0 1.231,-2.978 3.161,-1.848c0.413,0.242 0.745,0.691 0.858,1.171c0,0 0.063,0.407 -0.037,0.769c-0.123,0.44 -0.414,0.806 -0.714,1.141c-0.537,0.599 -0.634,0.653 -0.898,0.976c-0.249,0.311 -0.296,0.4 -0.419,0.569c-0.376,0.516 -0.743,1.038 -1.111,1.56l0.489,0.152c0.373,0.19 0.928,0.729 1.011,1.507c0.115,1.082 -0.262,2.16 -0.76,3.144c0,0 0.608,0.647 0.711,1.089c0,0 -0.066,1.054 -0.397,1.693c-0.251,0.483 -0.654,1.139 -0.654,1.139c0,0 0.349,0.035 0.357,0.037c0.397,0.109 0.793,0.426 0.793,0.426c0.095,0.101 0.522,0.701 0.528,1.361c0.019,2.172 -1.533,4.001 -2.717,5.713l-0.059,0.084c0,0 -0.035,0.194 0.295,-0.115c0.756,-0.698 1.599,-1.405 2.587,-1.587c0.664,-0.123 1.169,0.232 1.169,0.232c0.27,0.172 0.636,0.559 0.717,1.031c0.032,0.184 0.048,0.051 0.03,0.498c0,0 -0.316,0.483 0.143,0.204c0.497,-0.294 1.24,-0.511 1.364,-0.53c1.435,-0.217 1.861,0.965 1.9,1.613c0,0 -0.542,1.51 -1.203,2.745c0,0 -0.074,0.226 -0.074,0.226c0.519,0.129 0.918,0.55 1.155,1.111c0,0 0.065,0.425 0.065,0.425c-0.014,0.596 0.109,0.169 -0.285,1.041c-0.802,1.777 -2.042,3.327 -3.344,4.797c-0.061,0.365 -0.267,0.877 -0.267,0.877c-0.012,0.071 -0.025,0.142 -0.038,0.213c-0.068,0.362 -0.426,0.704 0.243,0.543c0.297,-0.071 0.718,-0.072 0.998,0.071c0.254,0.13 0.255,0.128 0.482,0.301c0.422,0.322 0.53,1.078 0.53,1.078c0.009,0.288 -0.751,1.821 -1.724,3.128c-3.612,4.85 -7.33,9.617 -10.703,14.657c-3.178,4.748 -6.299,9.529 -9.226,14.481c-1.051,1.807 -1.572,4.128 -3.109,5.156c-0.539,0.361 -1.239,0.467 -1.846,0.235c0,0 -0.532,-0.378 -0.566,-0.423c-1.214,-1.604 0.385,-2.881 1.349,-4.487c0,0 -0.401,-0.393 -0.664,-0.824c0,0 0.08,-0.245 -0.128,-0.04c-0.962,0.929 -2.52,1.201 -3.499,0.192c-0.445,-0.458 -0.45,-0.784 -0.452,-1.141l-0.492,0.025c-0.352,0.574 -0.91,0.84 -1.58,0.857c0,0 -0.274,-0.052 -0.274,-0.052c-0.38,0.582 -0.798,1.133 -1.192,1.705c0,0 -0.656,1.069 -1.151,1.897l-0.589,0.571l-0.621,0.196l-0.647,-0.066l-0.568,-0.318l-0.395,-0.517l-0.157,-0.632c0.044,-0.26 0.109,-0.645 0.109,-0.645l-0.178,-0.693c0.003,-0.294 0.014,-0.35 0.037,-0.498c0.125,-0.811 0.514,-1.564 0.926,-2.288c0,0 -0.388,0.016 -0.395,0.015c-0.477,-0.04 -0.963,-0.245 -1.316,-0.672c0,0 -0.22,-0.318 -0.288,-0.664c-0.22,0.362 -0.41,0.658 -0.41,0.658c-0.15,0.185 -0.454,0.386 -0.454,0.386l-0.661,0.206l-0.686,-0.092c0,0 -0.583,-0.372 -0.583,-0.372l-0.36,-0.549c0,0 -0.109,-0.648 -0.109,-0.648l0.047,-0.334c0.292,-0.991 0.329,-0.659 0.01,-0.464l-0.454,0.863l-0.481,0.485l-0.639,0.241l-0.682,-0.047l-0.6,-0.326l-0.41,-0.547c0,0 -0.146,-0.667 -0.146,-0.667l0.051,-0.316c0,0 -0.502,-0.351 -0.733,-0.762l-0.098,-0.14l-0.643,-0.161l-0.523,-0.406c0,0 -0.315,-0.585 -0.315,-0.585c-0.141,-0.83 -0.112,-0.469 -0.167,-0.428c-0.464,0.338 -1.079,0.691 -2.085,0.089c-0.465,-0.278 -0.645,-1.085 -0.645,-1.085c-0.008,-0.078 -0.033,-0.333 0.023,-0.616c-0.467,0.306 -1.188,0.685 -1.188,0.685c-0.729,0.338 -1.759,0.33 -2.336,-0.786c0,0 -0.199,-0.619 -0.114,-1.081l-0.29,-0.205c0,0 -0.372,-0.581 -0.372,-0.581c0,0 -0.093,-0.686 -0.093,-0.686l0.063,-0.332c0.071,-0.22 0.082,-0.228 0.119,-0.318c0.171,-0.411 0.355,-0.815 0.544,-1.217c-0.54,0.441 -1.173,0.97 -1.846,0.937c-0.364,-0.017 -0.365,-0.023 -0.716,-0.123c-0.591,-0.168 -0.954,-0.889 -0.987,-1.513c0,0 0.094,-1.117 0.435,-1.994c0.504,-1.295 1.167,-2.522 1.791,-3.723l0.092,-0.173c0,0 -0.511,-0.851 -0.437,-1.389c0.153,-1.115 0.976,-2.063 1.677,-3.144c0,0 -1.206,0.112 -1.866,-0.644c0,0 -0.668,-0.102 -1.064,-0.543c-0.603,-0.673 -0.216,-1.704 -0.047,-2.587c0.016,-0.082 0.016,-0.082 0.033,-0.163c0.486,-2.234 1.713,-4.232 3.002,-6.086c0,0 0.413,-0.11 -0.441,0.054c-0.556,0.107 -1.146,0.058 -1.656,-0.186l-0.479,-0.351c0,0 -0.319,-0.501 -0.319,-0.501c-0.066,-0.258 -0.167,-0.51 -0.043,-1.07c0,0 0.626,-1.269 1.258,-2.345c0.724,-1.234 1.488,-2.444 2.279,-3.636c0,0 -0.988,-0.328 -1.421,-0.976c0,0 -0.419,-1.41 0.493,-3.097c6.176,-11.433 15.457,-21.134 24.848,-29.721c0.091,-0.084 0.182,-0.169 0.272,-0.254c0.101,-0.096 0.202,-0.192 0.303,-0.289c2.078,-2.004 4.151,-4.134 6.749,-5.246c0,0 1.958,-1.692 4.195,-2.196c0.638,-0.143 1.289,-0.225 1.942,-0.259c0.175,-0.01 0.35,-0.015 0.525,-0.018c0.975,-0.017 2.021,0.361 2.01,1.801l-0.025,0.13c0,0 0.937,0.705 0.729,1.773c0,0 -0.523,1.017 -1.158,1.757c-0.799,0.931 -1.681,1.788 -2.574,2.631c0,0 -1.005,2.093 -2.242,3.706l-0.145,0.187c0,0 0.178,0.003 0.366,0.023Zm12.592,35.698c0.288,-0.175 0.059,-0.065 0,0Z" style="" fill-rule="nonzero"/></svg>

              <div class="flex gap-1">
                <div x-effect="if (copy) { navigator.clipboard.writeText($el.textContent) }" x-show="!copy" class="text-xl"><%= colors[i].hex_code %></div>
                <div x-show="copy" class="text-xl">Copied!!</div>
                <svg x-show="!copy" class="size-6 invisible group-hover/copy:visible transition-all duration-500 fill-gray-400 translate group-hover/copy:scale-110 group-hover/copy:fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z"></path></svg>
                <svg x-show="copy" class="size-6 fill-green-600"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg>


              </div>
          </div>
        <% end %>
      </div>
      <!-- End カラーコピー枠 -->
    </div>
  </div>
  <div class="flex w-full items-center justify-center">
    <%= image_tag "kaihatsu_now.svg", class:"w-[24rem] lg:w-[30rem]" %>
  </div>
</div>
