<!DOCTYPE html>
<html>
  <head>
    <title>Coloratio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-C7R1KN04E8"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C7R1KN04E8');
      </script>
    <!-- END・Google tag (gtag.js) -->

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <!-- favicon用の記載 -->
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- 検証モードで警告が出てる問題の記載。 -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- begin・swiper用の記載 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- end・swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js" integrity="sha512-g/feAizmeiVKSwvfW0Xk3ZHZqv5Zs8PEXEBKzL15pM0SevEvoX8eJ4yFWbqakvRj7vtw1Q97bLzEpG2IVWX0Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js" integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <!-- meta_tagsの呼び出し -->
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="font-body bg-[#fdf3ea]">
    <%= render 'shared/top_scroll' %><!-- 画面上部までスクロールボタン -->

    <div x-data="{modalDevelop: false, modalPalette: false, modalPrompt: false}" class="main-container">
      <%= render user_signed_in? ? 'layouts/header_logged_in' : 'layouts/header_pre_login' %>

      <%= render 'shared/flash_message' %> <%# フラッシュメッセージのパーシャル呼び出し用 %>
      <%= render "shared/development_modal" %>
      <%= render "shared/loading_modal" %>
      <%= render "shared/palette_modal" %>
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
    <%# 隠しシェアボタン用トリガーid %>
    <div id="dynamic-share-button"></div>

  </body>
  <%# loading表示する用のscript %>
  <%= render 'shared/loading_alpine' %>
</html>